:root{
	--main-color:#002A54;
	--main-dark:rgb(48, 127, 226);
    
}

@font-face {
    font-family: 'Vazir';
    src:  url('/fonts/Vazir-Regular.eot');
    src:  url('/fonts/Vazir-Regular.eot') format('embedded-opentype'),
      url('/fonts/Vazir-Regular.ttf') format('truetype'),
      url('/fonts/Vazir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'iran';
    src:  url('/fonts/Vazir-Regular.eot');
    src:  url('/fonts/Vazir-Regular.eot') format('embedded-opentype'),
      url('/fonts/Vazir-Regular.ttf') format('truetype'),
      url('/fonts/Vazir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Vazir;
}
input , label{
    font-family: Vazir !important;
}
.reyhamForm{
    width: 70%;
}

.errorSmall{
    color:brown;
    float:right;
}
.hidden{
    display: none;
}
.lang{
    display: grid;

}
.lang li{
    cursor: pointer;
    color:#fff;
}
.filterIcon{
    position: absolute;
    bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: var(--blue);
    right: 20px;
    cursor: pointer;
}
.rev{
    flex-direction: row-reverse;
}

.form-field-fiin .icon-edit {
    position: absolute;
    bottom: 18px;
    right: -30px;
    cursor: pointer;
}
.form-field-fiin:hover {
    color:var(--blue)
}
.email-form-fiin{
    margin-top: 35px;

}
.priceInput{
    width: 100px;
}
.btn-fiin{
    min-width: 180px;
    width: 205px;
}
.btn-waiting{
    text-align: right;
}
.btn-email {
    background: var(--main-dark);
    border: 1px solid var(--main-dark);
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    padding: 15px;
    transition: 0.3s;
    width: 90%;
}

.btn-email:hover {
    background-color: transparent;
    color: var(--main-dark);
}
.change-email{
    display: flex;
    width: 100%;
}
/*Board*/
.toDoHolder{
    margin:8px;
    display: flex;
}
.columnHolder{
    display: flex;
    flex-direction: column;
    width: 220px;
}
.taskList{
    flex-direction: column;
    border:1px solid var(--blue);
    border-radius: 2px;
    padding: 18px 8px;
    margin:8px;
    flex-grow: 1;
    
}
.taskPlace{
    border:1px solid gray;
    border-radius: 2px;
    padding: 8px;
    background-color: #fff;
    margin-bottom: 8px;
    display: flex;
}
.dragTask{
    background-color: lightgreen;
}
.dragCol{
    background-color: lightblue;
}
.handler{
    background-color: var(--blue);
    width: 25px;
    height: 25px;
    margin-right: 8px;
    border-radius: 4px;
}
.acceptBtn{
    background-color: green;
    border-color: green;
    color:#fff;
    transition: .3s all;
}
.acceptBtn:hover{
    color: green;
    background-color: #fff;
    transition: .3s all;
}


/*Steps Client*/
.tabStepHolder{
    display: flex;
    justify-content: center;
    margin: auto;
}
.tabStep{
    background-color: #f5f5f5;
    border-bottom: 3px solid var(--blue);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    display: grid;
    font-size: 15px;
    margin: auto .5%;
    padding: 20px 10px;
    text-align: center;
    white-space: nowrap;
    width: 120px;
}
.tabStepActive{
    background-color: var(--blue);
    color:#f5f5f5
}
.tabStepDeactive{
    background-color: #eee;
    border-bottom-color: gray;
}
.tabStep span{
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}
.step-placeHolder{
    margin:50px auto;
    width: 70%;
}
.deact-fiin{
    background: gray;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    padding: 14px 60px;
    transition: 0.3s;
}
.DatePicker{
    width:100%;
}
.DatePicker input{
    text-align: left;
}
.DatePicker button{
    direction: ltr;
    position: relative;
}
.form-fiin textarea {
    border: 1px solid #E7E7E8;
    border-radius: 4px;
    font-size: 14px;
    padding: 14px 18px;
    width: 100%;
  }

  /* Faktor Part */
  .userInfo{
    display: flex;
    min-height: 100px;
}
.userSection{
    display: grid;
    margin:auto
}
.userSection small{
    margin:3px 5px;
    display: flex;
    justify-content: flex-end;
}
.userSection b{
    border:1px solid var(--main-color);
    padding: 0 10px;
    border-radius: 6px;
    width: 80px;
    margin: 0 10px;
}
.pop-form{
    position: absolute;
    padding: 0 25px ;
    top: 75px;
    right: 0px;
    width: 120%;
    z-index: 10;
}
.pop-form-holder{
    background-color: rgba(255,255,255,.9);
    min-width: 250px;
}
.pop-form-item{
    width: calc(100% - 15px);
    padding: 0px 20px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    position: relative;
    min-height: 65px;
}
.titleShow{
    padding: 10px 5px;
    width: 200px;
}
.skuShow{
    position: absolute;
    left: 0px;
    font-size: 12px;
    top:10px;
    border:1px solid var(--main-color);
    border-radius: 10px;
    
    text-align: center;
    width: 100px;
}
.priceShow{
    position: absolute;
    left: 0px;
    font-size: 12px;
    bottom:10px;
    border:1px solid var(--main-color);
    border-radius: 10px;
    
    text-align: center;
    width: 70px;
}
.countShow{
    position: absolute;
    left: 12px;
    font-size: 12px;
    bottom:10px;
    border:1px solid var(--main-color);
    border-radius: 3px;
    
    text-align: center;
    width: 27px;
}
.removeBtn{
    font-weight: bold;
    cursor: pointer;
    margin:auto 0 0 10px
}
.removeBtn:hover{
    color:brown;
}
.section-fiin {
    overflow-x: initial;
  }
.tdHolder{
    position: relative;
}
.tdHolder strong{
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    max-width: 300px;
    display: block;
}
.tdHolder small{
    position: absolute;
    bottom: 5px;
    left: 10px;
    border-radius: 10px;
    padding: 3px 10px 0;
    background-color: #fff;
    line-height: 1;
}
.formInputSimple{
    padding: 5px !important;
    text-align: center;
}
.faktorList{
    border-bottom: 2px solid gray;
}
.checkBoxCart{
    position: absolute;
    right: 10px;
    top: 25px;
}
.seprator{
    height: 0;
    padding: 0;
}

/* RTL */
.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.flex-lg-row {
    flex-direction: row-reverse !important;
}
.customerHolder{
    position: relative;
    min-width: 220px;
    margin-left: 100px;
}

/* Hesabfa Print */
.hesabfaTable{
    font-family: iran;
    border:2px solid #333;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    min-height: 100px;
}
.hesabfaTable tbody{
    margin: auto;
    padding: 0;
}
.hesabfaPrint{

}
.hesabfaRow{
    width: 95%;
    margin: auto;
}
.verticalRow{
    position: relative;
    width: 50px;
}
.hesabfaColor{
    background-color: #B9B9B9;
    border-radius: 0 8px 8px 0;
}
.hesabfaMainTable{
    font-family: iran;
    border: 2px solid #333;
    width: 90%;
    margin: 6px auto;
    border-collapse: collapse;
}
.hesabfaMainTable td{
    border: 1px solid #333;
    padding: 2px 7px;
}
.hesabfaMainTable tbody{
    width: 100%;

}
.hesabfaMainTable th{
    border: 2px solid #333;
    background-color: #B9B9B9;
    padding: 5px 10px;
    font-size: 13px;
}
.centerCell{
    text-align: center;
}
.verticalRow h3{
    position: absolute;
    transform: rotate(-90deg);
    top: 30px;
    left: -10px;
}
.hesabfaFooter{
    font-family: iran;
    width: 90%;
    margin: 10px auto;
}
.priceSeprate{
    display: flex;
    justify-content: space-between;
}
.hesabfaPrice{
    display: grid;
}
.hesabfaPrice h3{
    padding-bottom: 6px;
    border-bottom: 3px solid #333;
    line-height: 1;
    margin-bottom: 10px;
}
.hesabfaRight{
    display: grid;
    border-bottom: 2px solid #333;
}
.hesabfaSection{
    display: grid;
    margin:auto;
    width: 25%;
    text-align: center;
}
.hesabfaSection h4{
    margin:0 auto;
}
.hesabfaSection h1{
    margin-bottom:10px;
    white-space: nowrap;
}
.hesabfaSection small{
    margin:3px 5px;
    display: flex;
    justify-content: flex-end;
}
.hesabfaSection b{
    border:1px solid var(--main-color);
    padding: 0 10px;
    border-radius: 6px;
    width: 120px;
    margin: 0 10px;
}
.footerRows{
    display: flex;
    justify-content: space-between;
}
.footerHesabfa{
    display: flex;
    width: 70%;
    margin: 10px auto 20px 0;
    text-align: center;
    justify-content: space-around;
}
.hesabSection{
    display: grid;
    width: 90%;
    margin: auto;
}
.hesabBorder{
    border:1px solid #222;
    display: flex;
    border-radius: 7px;
    padding: 5px 10px;
    margin:5px 0 0;
    justify-content: space-between;
}
.verticalRow small{
    position: absolute;
    transform: rotate(-90deg);
    top: 17px;
    left: -5px;
}
.hesabPrintTable{
    padding: 0;
    width: 90%;
    margin: 5px auto 0;
}
.hesabPrintTable .verticalRow{
    width: 30px;
}
.hesabSection .hesabfaSection{
    width: calc(100% - 0px);
}
.priceCell{
    width: 105px;
    max-width: 105px;
    font-size: 15px;
    text-align: center;
}
.sumTable{
    font-size: 12px;
}
.priceSwitcher{
    float:left;
    margin-left: 30px !important;
}
.priceSwitcher span{
    font-size: 11px;
}
.fishPrint .orderDataHolder{
    padding: 0;
    width: 100%;
}
.fishPrint .orderTable{
    padding: 0px;
    margin: 2px auto;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #111;
    border-radius: 5px;
}
.fishPrint .orderTable{
    
}
.fishPrintArea{
    max-width: 300px;
    margin: auto;
}


/* End RTL */

/* Charts */
.chartHolder{
    display: flex;
    flex-wrap: wrap;
}
.charts{
    width: 45%;
    margin:50px 2% 100px;
    min-height: 300px;
    font-family: Vazir;
}

/* End Charts */

.payHolder{
    width: 300px;
    margin:5px 10px;
}
.tarazHolder{
    display: flex;
}
.sepidarSum{
    margin-right: 5%;
    display: grid;
    align-content: end;
}
.resultTable{
    margin:auto !important;
    font-size: 12px !important;
    border:none
}
.resultTable tr{
    border:none !important;
}
.resultTable td{
    padding:5px 10px !important;
}
.disable-btn{
    background-color:silver;
    border:silver;
    color:gray;
}
.disable-btn:hover{
    background-color:gray;
    border:gray;
    color:#fff;
}
.returnTable{
    width: 60% !important;
    overflow: initial !important;
}
.counterHolder{
    display: flex;
    align-items: center;
}
.counter{
    font-size: 20px;
    border:1px solid silver;
    border-radius: 15px;
    min-width: 30px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    margin:auto 5px;
}
.counterInput{
    text-align: center;
    padding: 14px 4px !important;
    min-width: 40px;
}
.disableBtn{
    background-color: #E7E7E8;
}

/*POPUP*/

.alertHolder{
    position: fixed;
    background-color: #002A5490;
    color:#111;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
}
.alertPlace{
    height: 250px;
    margin: calc(50vh - 125px) auto;
    background-color: #fff !important;
    padding: 20px 5%;
    width: 30%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #222;
}
.alertBtn{
    margin: 20px auto;
}
.alertBtn input{
    width:45%;
    margin: auto 2%;
    font-size: 18px;
    cursor: pointer;
}



@media only screen and (max-width:1200px){
    .table-fiin table {
        max-width: 1300px;
        width: 100%;
      }
}
@media only screen and (max-width:992px){
    .header-logo{
        margin:auto;
    }
    .main-menu > li:hover .sub-menu {
        display: block;
    }
    
    .tarazHolder{
        display: grid;
    }
}
@media only screen and (max-width: 768px) {
    .account-head:hover ul {
        display: block;
    }
    .chartHolder{
        display: grid;
    }
    .charts{
        width: 90%;
    }
    .resultTable{
        font-size: 14px !important;
    }
    .mobileHolder{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .mobile70{
        width: 65%;
        padding: 10px 2.5%;
    }
    .mobile30{
        width: 35%;
        padding: 10px 2.5%;
    }
    .priceRow{
        border-right: 5px solid transparent;
        padding-right: 5px;
        cursor: pointer;
    }
    .priceRow:hover{
        background-color: var(--blue);
        transition: .3s all;
        color: #fff;
    }
    .alertPlace{
        width: 90%;
    }
    .customerHolder{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .row-cols-1 > *{
        width: 47%;
    }
    .ms-auto {
        margin-right: 0 !important;
        margin-left: auto !important;
    }
    .return input{
        padding: 5px 10px;
    }
}
.barCodeHolder{
  position: relative;
}
.barCodeHolder p{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    text-align: center;
}

/*Mui*/
.MuiAutocomplete-popper div{
    font-family: vazir !important;
}

.increment, .decrement{
    font-size: 25px !important;
}
hr{
    margin: 1rem 0 !important;
    width: 100% !important;
}
.fullWidth{
    width: 100%;
}
.borderLess{
    border: none;
}
.countPlaceMobile{
    position: absolute;
    bottom: 0px;
    left: 20px;
}
.countInput{
    width: 30px;
    text-align: center;
}
